.ipynb_checkpoints/
Vtt_buildings_meter_data
apartment1_NIALM_device_data.txt
api_keys.py
data/fake.json
export.geojson
jquery-2.1.1.js
load_vtt.ipynb
otaniemi_full.geojson
persistent.py
sample8.csv
simple.json
*.my

gmap.js
google_map_url.js

# Created by http://www.gitignore.io

### Linux ###
*~

# KDE directory preferences
.directory


### vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/
